.annotorious-editor-button.annotorious-editor-button-save {
    color: #326200;
    background: #eaf2e1;
    border: 1px solid rgba(63, 123, 0, 0.25);
}

.annotorious-editor-button.annotorious-editor-button-save:hover {
    border-color: rgba(63, 123, 0, 0.65);
    background: #deeacf;
    outline: none;
}

.annotorious-editor-button.annotorious-editor-button-cancel {
    color: #B00D00;
    background: #F9E8E7;
    border: 1px solid rgba(176, 13, 0, 0.25);
}

.annotorious-editor-button.annotorious-editor-button-cancel:hover {
    border-color: rgba(176, 13, 0, 0.65);
    background: #f4d4d3;
    outline: none;
}

a.annotorious-editor-button {
    text-decoration: none;
}

.image-annotation-image {
    max-width: 100%;
}